# **PARIS ELECTRIC CAR SHARING SERVICE COMPANY**

**BUSINESS UNDERSTANDING**

1) You will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question

**DATA UNDERSTANDING**

**1.1) We Will start by collecting the data itself and import all the libraries.**

In [ ]:
# To collect this data we will obtain the dataset from the link by downloading it and uploading it onto this google colab.
# After that we will endeavoour to load them into our work enviroment
# Will have to load our libraries first.

#This loads the pandas library
import pandas as pd

#This laods the numpy libraries
import numpy as np

1.2)  **Loading the autolib dataset**

In [ ]:
# NOw lets load our dataset

url = "http://bit.ly/autolib_dataset"

# loading datasets

autolib_dataset = "http://bit.ly/autolib_dataset"


autolib_dataset_df = pd.read_csv(autolib_dataset, encoding ='latin1')

1.3) **Lets preview the first 5 rows of the dataset**

In [ ]:
# Using the head() to preview the first 5 rows of the autolib dataset

autolib_dataset_df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

1.4) **Assessing the datatype of the dataset**

In [ ]:
# Lets check to see what datatype we have

autolib_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

1.5) **Assessing the shape of the dataset**

In [ ]:
# we then endeavour to find the shape of the autolib dataset to best understand that data

autolib_dataset_df.shape

(5000, 25)

**1.6) Check whether we have missing data to better enable us to understand the dataset**

In [ ]:
# we now have to check the columnns of the dataset with missing values

autolib_dataset_df.isnull().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Displayed comment       True
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [ ]:
# To understand how many distinct years are involved in this dataset

autolib_dataset_df['year'].unique()

array([2018])

- *We now understand that this dataset only has data from the year 2018*

In [ ]:
# To understand the types of rental status for each cartype

autolib_dataset_df['Rental status'].unique()

array(['operational', 'broken', 'future', 'nonexistent'], dtype=object)

- *This will give us context of whether a car has been picked or returned according to the dataset*

In [ ]:
# To best understand station types

autolib_dataset_df['Station type'].unique()

array(['station', 'full_station', 'subs_center'], dtype=object)

In [ ]:
# To best understand Kind

autolib_dataset_df['Kind'].unique()

array(['STATION', 'PARKING', 'SPACE', 'CENTER'], dtype=object)

In [ ]:

autolib_dataset_df['Subscription status'].unique()

array(['nonexistent', 'operational', 'broken'], dtype=object)

**DATA PREPARATION**

2) **We can check the properties of the dataset to know how to best prepare it**

In [ ]:
# we can preview the dataset in terms of its properties to see whether we can change some properties or not 

autolib_dataset_df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

**DATA CLEANING**

**3.1) Checking the validity of data**

In [ ]:
# As per our data understanding ,we found two data columns to be null.
# Data columns 'displayed comment' and 'scheduled at' are not actually needed, because they are null and dont fit 
# the context of the problem we’re trying to solve. 
# A Column like geo point is redundant considering we have the column city that gives us location
# The column subscription status is also render mute so we will drop it
# we will drop them since we will not need them in our analysis
# Columns like Charging status, Charging slot and address were dropped because they are not ralevant to our research problem.
autolib_dataset_df

autolib_dataset_df.drop(["Displayed comment", "Scheduled at" , "Subscription status" , "Geo point" , "Charging Status", "Charge Slots", "Address" ], axis = 1, inplace = True) 

autolib_dataset_df.head()

   Cars  Bluecar counter  Utilib counter  ...  day hour minute
0     0                0               0  ...    8   11     43
1     6                6               0  ...    6    7     24
2     3                3               0  ...    3   20     14
3     3                3               1  ...    4    4     37
4     3                3               0  ...    8   17     23

[5 rows x 18 columns]

3.2) **Lets strip whiteshapes from the dataset**

In [ ]:
# Cleaning of Syntax Errors
# We can use the str.strip function on the City column to strip the leading and trailing spaces  
# 

autolib_dataset_df['City'] = autolib_dataset_df['City'].str.strip()

autolib_dataset_df['City']

0                    Paris
1                    Paris
2               Le Bourget
3                    Paris
4                    Paris
               ...
4995              Colombes
4996                 Paris
4997                 Paris
4998    Fontenay-Sous-Bois
4999                 Paris
Name: City, Length: 5000, dtype: object

**3.3) Checking of Accuracy of data**

In [ ]:
# We have to check the accuracy of the dataset in terms of the right datatype for each column

autolib_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cars                 5000 non-null   int64
 1   Bluecar counter      5000 non-null   int64
 2   Utilib counter       5000 non-null   int64
 3   Utilib 1.4 counter   5000 non-null   int64
 4   City                 5000 non-null   object
 5   ID                   5000 non-null   object
 6   Kind                 5000 non-null   object
 7   Postal code          5000 non-null   int64
 8   Public name          5000 non-null   object
 9   Rental status        5000 non-null   object
 10  Slots                5000 non-null   int64
 11  Station type         5000 non-null   object
 12  Status               5000 non-null   object
 13  Subscription status  5000 non-null   object
 14  year                 5000 non-null   int64
 15  month                5000 non-null   int64
 16  day                  5000 non-null   int64
 17  hour                 5000 non-null   int64
 18  minute               5000 non-null   int64
dtypes: int64(11), object(8)
memory usage: 742.3+ KB

- *The datatype were properly matched.*
- *The column entrie were accurate.*

**3.4) Checking the completeness of the dataset**

In [ ]:
# Checking if there is any missing value across each column

autolib_dataset_df.isnull().any()

Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
City                   False
ID                     False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

- *No column has null values*
- *The dataset is complete*

**3.5) Checking the consistency of the dataset**

In [ ]:
# we should drop data that has been repeated/duplicated

autolib_dataset_df_duplicate = autolib_dataset_df
# print(autolib_dataset_df_duplicate)

autolib_dataset_df_non_duplicates = autolib_dataset_df.drop_duplicates()

# Let's see these non-duplicate files
print(autolib_dataset_df_non_duplicates)

      Cars  Bluecar counter  Utilib counter  ...  day hour minute
0        0                0               0  ...    8   11     43
1        6                6               0  ...    6    7     24
2        3                3               0  ...    3   20     14
3        3                3               1  ...    4    4     37
4        3                3               0  ...    8   17     23
...    ...              ...             ...  ...  ...  ...    ...
4995     2                2               0  ...    6   11     26
4996     4                4               0  ...    4   16     56
4997     1                1               0  ...    1    7      1
4998     2                2               0  ...    4   17     27
4999     4                4               0  ...    8   10      2

[5000 rows x 19 columns]

- *We no longer have duplicated values*
- *Our dataset is now consistent*

**3.6) Checking the uniformity of the dataset**

In [ ]:
autolib_dataset_df.head()

   Cars  Bluecar counter  Utilib counter  ...  day hour minute
0     0                0               0  ...    8   11     43
1     6                6               0  ...    6    7     24
2     3                3               0  ...    3   20     14
3     3                3               1  ...    4    4     37
4     3                3               0  ...    8   17     23

[5 rows x 19 columns]

In [ ]:
# we need to make sure that our dataset has the same type of uniform basis in terms of datatype and column orientation.
# we will combine/ join the year, month, day, hour, minute into a single date for easy reference

autolib_dataset_df['Date']=pd.to_datetime(autolib_dataset_df[['year','month','day', 'hour','minute']])
autolib_dataset_df.head()

   Cars  Bluecar counter  Utilib counter  ...  hour minute                Date
0     0                0               0  ...    11     43 2018-04-08 11:43:00
1     6                6               0  ...     7     24 2018-04-06 07:24:00
2     3                3               0  ...    20     14 2018-04-03 20:14:00
3     3                3               1  ...     4     37 2018-04-04 04:37:00
4     3                3               0  ...    17     23 2018-04-08 17:23:00

[5 rows x 20 columns]

In [ ]:
# Now lets preview the dataset datatype and check whetjer we have the new column date in the right format

autolib_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cars                 5000 non-null   int64
 1   Bluecar counter      5000 non-null   int64
 2   Utilib counter       5000 non-null   int64
 3   Utilib 1.4 counter   5000 non-null   int64
 4   City                 5000 non-null   object
 5   ID                   5000 non-null   object
 6   Kind                 5000 non-null   object
 7   Postal code          5000 non-null   int64
 8   Public name          5000 non-null   object
 9   Rental status        5000 non-null   object
 10  Slots                5000 non-null   int64
 11  Station type         5000 non-null   object
 12  Status               5000 non-null   object
 13  Subscription status  5000 non-null   object
 14  year                 5000 non-null   int64
 15  month                5000 non-null   int64
 16  day                  5000 non-null   int64
 17  hour                 5000 non-null   int64
 18  minute               5000 non-null   int64
 19  Date                 5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(11), object(8)
memory usage: 781.4+ KB

In [ ]:
# we should probably now drop the separate columns that made uo the date except from hour and day and month

autolib_dataset_df.drop(["year",  "minute" ], axis = 1, inplace = True) 

autolib_dataset_df.head()

   Cars  Bluecar counter  Utilib counter  ...  day hour                Date
0     0                0               0  ...    8   11 2018-04-08 11:43:00
1     6                6               0  ...    6    7 2018-04-06 07:24:00
2     3                3               0  ...    3   20 2018-04-03 20:14:00
3     3                3               1  ...    4    4 2018-04-04 04:37:00
4     3                3               0  ...    8   17 2018-04-08 17:23:00

[5 rows x 18 columns]

- *Now we finally have a clean Dataset to work with for the data analysis of the research problem.*
- *We will now endeavor to do the data analysis using the new clean dataset that has properties relevant to the research problem questions.*

**ANALYSIS**

4) Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [ ]:

# we will first select data where bluecars counter not equal to 0,city equals to Paris and the month be april. 
#also the rental status needs to be operational to prove that the bluecar was indeed picked


bluecar_paris_in_april = autolib_dataset_df[(autolib_dataset_df['Bluecar counter'] > 0 ) & (autolib_dataset_df['City'] == 'Paris') & (autolib_dataset_df['month'] == 4 ) & (autolib_dataset_df['Rental status'] == 'operational')]

# After finding the data i which all conditions are met, we shall now check the most repeated hour to know which hour
# was most popular.to do this we will use the .mode() library function.

bluecar_paris_in_april['hour'].mode()

# we did not test the year because from our data understanding we already know that this dataset only has data from 2018.

0    21
dtype: int64

In [ ]:
# Alternatively we can preview hours and their time picked to see which was most popular

grouped = bluecar_paris_in_april.groupby('hour')['hour'].count().sort_values(ascending=False).head()

grouped

hour
21    95
12    90
6     81
13    80
10    80
Name: hour, dtype: int64

- *The most popular hour for picking up an electric car in the city of Paris over the month of April 2018 is at 9 p*m.

In [ ]:
 # To understand more on which hours per day a blue car was picked
 
hour_per_day = bluecar_paris_in_april.groupby(['day'])['hour'].unique()
hour_per_day

day
1    [21, 17, 15, 7, 6, 18, 11, 13, 0, 1, 12, 10, 2...
2    [22, 20, 18, 7, 19, 13, 11, 9, 1, 8, 2, 0, 5, ...
3    [9, 1, 3, 16, 21, 11, 7, 20, 6, 12, 13, 5, 4, ...
4    [4, 15, 23, 13, 10, 2, 16, 6, 17, 18, 14, 20, ...
5    [12, 6, 2, 15, 18, 17, 23, 14, 9, 13, 22, 19, ...
6    [7, 18, 4, 12, 1, 2, 21, 17, 6, 5, 15, 13, 3, ...
7    [9, 3, 5, 10, 6, 12, 11, 22, 4, 19, 13, 21, 7,...
8    [17, 8, 10, 19, 3, 23, 16, 6, 15, 1, 18, 2, 9,...
9    [12, 20, 21, 10, 19, 0, 6, 16, 1, 9, 23, 11, 1...
Name: hour, dtype: object

**5) What is the most popular hour for returning cars?**

In [ ]:
autolib_dataset_df['Rental status'].unique()

array(['operational', 'broken', 'future', 'nonexistent'], dtype=object)

In [ ]:
# now we will try to get the most repeated time where cars were returned and the Rental status broken.
# this means that the Rental status had been broken

most_pop_hour_return_car = autolib_dataset_df[(autolib_dataset_df['Cars'] == 0 ) & (autolib_dataset_df['Rental status'] == 'broken' )]
most_pop_hour_return_car['hour'].mode()

0    21
dtype: int64

In [ ]:
# Alternatively we can preview hours and their time returned to see which was most popular

grouped2 = most_pop_hour_return_car.groupby('hour')['hour'].count().sort_values(ascending=False).head()

grouped2

hour
21    27
9     22
3     19
14    18
7     17
Name: hour, dtype: int64

- *The most popular time to return cars was at 9 pm when the rental status was broken.*

**6) What station is the most popular ?**

6.1) Most popular station overall

In [ ]:
# we will need to find the most popular station

stations = autolib_dataset_df[(autolib_dataset_df['Station type'] == 'station' ) ]

most_popular_station = stations.groupby('Public name')['Public name'].count().sort_values(ascending=False).head(1)

most_popular_station

Public name
Paris/Porte de Montrouge/8    13
Name: Public name, dtype: int64

-  *The most popular station was Paris/Porte de Montrouge/8*

6.2) The most popular station at the most popular hour?

In [ ]:
# we will now find the most popular station at the most populr hour

station_21 = autolib_dataset_df[(autolib_dataset_df['Station type'] == 'station' ) & (autolib_dataset_df['hour'] == 21 )]

most_popular_station_21 = station_21.groupby('Public name')['Public name'].count().sort_values(ascending=False).head(1)

most_popular_station_21

Public name
Paris/Tronchet/19    4
Name: Public name, dtype: int64

- *The most popular station at the most popular hour is Paris/Tronchet/19*

7) **What postal code is the most popular station for picking up Blue cars? Does the most popular station belong to that postal code?**

In [ ]:
# The most popular postal code for picking up blue cars.

picked_up_Bluecars = autolib_dataset_df[(autolib_dataset_df['Bluecar counter'] != 0 ) & (autolib_dataset_df['Rental status'] == 'operational' )]

most_popular_postal_code_Bluecars = picked_up_Bluecars.groupby('Postal code')['Postal code'].count().sort_values(ascending=False).head(1)

most_popular_postal_code_Bluecars

Postal code
75015    195
Name: Postal code, dtype: int64

7.1) Overall

In [ ]:
# Does the most popular station belong to the most popular postal code for picking up bluecars

# Paris/Porte de Montrouge/8

# 75015

condition_met = [(autolib_dataset_df[(autolib_dataset_df['Public name'] == 'Paris/Porte de Montrouge/8' ) & (autolib_dataset_df['Postal code'] == 75015 )])]
condition_met

[Empty DataFrame
 Columns: [Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, City, ID, Kind, Postal code, Public name, Rental status, Slots, Station type, Status, year, month, day, hour, minute]
 Index: []]

- *The most popular station does not belong to the most popular postal code for picking up Bluecars*

7.2)At the most popular picking hour?

In [ ]:
# Does the most popular station at the most popuar hour belong to the most popular postal code for picking up bluecars

# Paris/Tronchet/19

# 7501

condition_met2 = [(autolib_dataset_df[(autolib_dataset_df['Public name'] == 'Paris/Tronchet/19' ) & (autolib_dataset_df['Postal code'] == 75015 )])]
condition_met2

[Empty DataFrame
 Columns: [Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, City, ID, Kind, Postal code, Public name, Rental status, Slots, Station type, Status, year, month, day, hour, minute]
 Index: []]

- *The most popular station at the most popular hour does not belong to the most popular postal code for picking up Bluecars*

8)  **Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?**

8.1) The most popular postal code for picking up Utilib & Utilib 1.4
Overall

In [ ]:
# The most popular postal code for picking up Utilib & Utilib 1.4

picked_up_Utils = autolib_dataset_df[(autolib_dataset_df['Utilib counter'] != 0 ) & (autolib_dataset_df['Utilib 1.4 counter'] != 0 ) & (autolib_dataset_df['Rental status'] == 'operational' )]

most_popular_postal_code_Utils = picked_up_Utils .groupby('Postal code')['Postal code'].count().sort_values(ascending=False).head(1)

most_popular_postal_code_Utils

Postal code
75017    9
Name: Postal code, dtype: int64

- *The result for the most popular postal code for pickiing utilib and Utilib 1.4 is the same as the most popular postal code for picking up Bluecars.*

overall for utilib cars

In [ ]:

# Does the most popular station belong to the most popular postal code for picking utilib and utilib 1.4

# Paris/Porte de Montrouge/8

# 75015

condition_met = [(autolib_dataset_df[(autolib_dataset_df['Public name'] == 'Paris/Porte de Montrouge/8' ) & (autolib_dataset_df['Postal code'] == 75015 )])]
condition_met

[Empty DataFrame
 Columns: [Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, City, ID, Kind, Postal code, Public name, Rental status, Slots, Station type, Status, year, month, day, hour, minute]
 Index: []]

- *The results for the first question doesnt change*

8.2) At the most popular picking hour?

In [ ]:
# Does the most popular station at the most popuar hour belong to the most popular postal code for picking up bluecars

# Paris/Tronchet/19

# 7501

condition_met2 = [(autolib_dataset_df[(autolib_dataset_df['Public name'] == 'Paris/Tronchet/19' ) & (autolib_dataset_df['Postal code'] == 75015 )])]
condition_met2

[Empty DataFrame
 Columns: [Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, City, ID, Kind, Postal code, Public name, Rental status, Slots, Station type, Status, year, month, day, hour, minute]
 Index: []]

- *since the the most popular postal code doesnt change then the results doesnt really change.It remains the same(for bluecars as well as utilib cars)*